<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<context:component-scan base-package="com.springportfolio.dao">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<context:property-placeholder location="classpath*:application-properties.xml" />

	<context:annotation-config />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:mybatis-config.xml"
		/>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${database.driverClassName}" p:url="${database.url}"
		p:username="${database.username}" p:password="${database.password}" />

	<bean id="userDao" class="com.springportfolio.dao.users.UserDAO"
		p:dataSource-ref="dataSource" />
		
	<bean id="googleConnectionFactory" class="org.springframework.social.google.connect.GoogleConnectionFactory">
		<constructor-arg value="" />
		<constructor-arg value=""/>
	</bean>
	
	<bean id="googleOAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters" 
		p:scope="https://www.googleapis.com/auth/userinfo.email"
		p:redirectUri="http://localhost:8080/users/googleCallback"
	/>
	
	<bean id="facebookConnectionFactory" class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
		<constructor-arg value="" />
		<constructor-arg value=""/>
	</bean>
	
	<bean id="facebookOAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters"
		p:scope="email"
		p:redirectUri="http://localhost:8080/users/facebookCallback"
	/>
		
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"
	 />
	 
	 <tx:annotation-driven transaction-manager="transactionManager"/>
		
	<!-- 
	<bean id="boardDao" class="com.springportfolio.dao.boards.BoardDAO"
		p:dataSource-ref="dataSource" />
	 -->
	 
</beans>
